body {
  font-family: sans-serif;
}

.pin-marker {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-color: #eee;
  border: 0.21vw #111 solid;
  cursor: pointer;
  color: #111;
  text-align: center;
  box-sizing: border-box;
  text-shadow:
    -1px -1px 0 #eee,
     0   -1px 0 #eee,
     1px -1px 0 #eee,
     1px  0   0 #eee,
     1px  1px 0 #eee,
     0    1px 0 #eee,
    -1px  1px 0 #eee,
    -1px  0   0 #eee;
}

#board-link {
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration-thickness: 2px;
  text-decoration-color: #aaf;
}

.pin-marker:hover {
  transform: scale(2);
  z-index: 2;
  line-height: unset !important;
  height: unset !important;
  width: unset !important;
  border-radius: 10px;
}

.pin-marker .pin-info {
  display: none;
}

.pin-marker:hover .pin-info {
  display: unset;
}

.pin-marker.highlight {
  background-color: #fc935a;
}

.pin-marker.selected {
  background-color: #f15a24;
  color: #eee;
  text-shadow:
    -1px -1px 0 #111,
     0   -1px 0 #111,
     1px -1px 0 #111,
     1px  0   0 #111,
     1px  1px 0 #111,
     0    1px 0 #111,
    -1px  1px 0 #111,
    -1px  0   0 #111;
}

.connector-container {
  width: 100%;
  overflow-x: scroll;
  position: relative;
  height: max(3in, 50vh);
}

.connector-div {
  height: 100%;
  position: relative;
  z-index: 0;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.connector-img {
  height: 100%;
  min-width: 100%;
}

.connector-name,
.switch-wrapper {
  display: inline-block;
  width: 50%;
}

.switch-block {
  width: 300px;
}

.switch {
  position: relative;
  display: block;
}

.switch * {
  box-sizing: border-box;
}

.switch span {
  line-height: 2em;
}

.switch > span {
  text-align: left;
}

.switch input ~ span span:first-child {
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.switch span span {
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2;
  display: block;
  float: left;
  width: 50%;
  user-select: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px #191b1e;
}

.switch input {
  position: absolute;
  opacity: 0;
  z-index: 3;
  box-sizing: border-box;
}

.switch a {
  border: 1px solid #333;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
  background-color: #70c66b;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
  position: absolute;
  right: 50%;
  top: 0;
  z-index: 1;
  display: block;
  width: 50%;
  height: 100%;
  padding: 0;
  transition: all 0.2s ease-out;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: clamp(100%, 100%, 1000px);
  text-align: left;
}

@media (min-width: 1000px) {
  table {
    font-size: 1rem;
  }

  .table-wrapper, .info-table, .name-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
  }
}

@media (max-width: 1000px) {
  table {
    word-wrap: break-word;
    font-size: 2.5rem;
  }
}

table.pinout-table tbody tr {
  cursor: pointer;
}

@media screen {
  td[data-field="pin"] {
    border-color: #333;
  }
}

table td, table th {
  border: 1px solid #333;
  padding: 8px;
}

table tr:nth-child(even){
  background-color: #fc935a;
}

table tr:hover {
  background-color: #f15a24;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f15a24;
  color: #111;
}

.info-table {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #eee;
  }

  td[data-field="pin"] {
    border: 1px solid #aaa;
  }

  table td, table th {
    border: 1px solid #aaa;
  }

  table th {
    color: #eee;
  }

  table tr:nth-child(even){
    background-color: #230c00;
    color: #eee;
  }

  table tr:hover {
    background-color: #f15a24;
  }

  a {
    color: #71b7ff;
  }

  a:visited {
    color: #71b7ff;
  }
}

@media print {
  .container {
    height: 99vh;
    display: flex;
    flex-direction: column;
  }
  td:not(.print-column), .info-table, thead, #board-link {
    display: none;
  }
  .connector-container {
    flex: 0 1 100%;
    height: unset;
    min-height: 2in;
  }
  .connector-div {
    max-width: 100%;
    height: unset;
  }
  .connector-img {
    max-width: 100% !important;
    max-height: 3in;
  }
  h2 {
    font-size: 14px;
  }
  th {
    font-size: 12px;
  }
  td {
    font-size: 10px;
  }
  td:not([data-field="pin"]) {
    border: none !important;
  }
  td[data-field="pin"] {
    border-width: 3px;
    border-radius: 10px;
    width: 10px;
    margin: 0px;
    padding: 0px;
  }
  html, tr {
    background-color: #eee !important;
    color: #111 !important;
  }
  table {
    width: auto;
    border-collapse: separate;
  }
  .table-wrapper { 
    column-count: 4;
  }
  table, tbody, tr {
    display: block;
  }
}
