body {
  font-family: sans-serif;
}

.pin-marker {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-color: #eee;
  border: 0.21vw #111 solid;
  cursor: pointer;
  color: #111;
  text-align: center;
  box-sizing: border-box;
  text-shadow:
    -1px -1px 0 #eee,
     0   -1px 0 #eee,
     1px -1px 0 #eee,
     1px  0   0 #eee,
     1px  1px 0 #eee,
     0    1px 0 #eee,
    -1px  1px 0 #eee,
    -1px  0   0 #eee;
}

#board-link {
  font-size: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration-thickness: 2px;
  text-decoration-color: #aaf;
  color: #111;
}

.pin-marker:hover {
  transform: scale(2);
  z-index: 2;
  line-height: normal !important;
  height: unset !important;
  width: unset !important;
  border-radius: 10px;
}

.pin-marker .pin-info {
  display: none;
}

.pin-marker:hover .pin-info {
  display: unset;
}

.pin-marker.highlight {
  background-color: #fc935a;
}

.pin-marker.selected {
  background-color: #f15a24;
  color: #eee;
  text-shadow:
    -1px -1px 0 #111,
     0   -1px 0 #111,
     1px -1px 0 #111,
     1px  0   0 #111,
     1px  1px 0 #111,
     0    1px 0 #111,
    -1px  1px 0 #111,
    -1px  0   0 #111;
}

.connector-container {
  width: 100%;
  overflow-x: scroll;
  line-height: 0px;
  position: relative;
  height: max(3in, 50vh);
}

.connector-div {
  height: 100%;
  position: relative;
  z-index: 0;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.connector-img {
  height: 100%;
  min-width: 100%;
}

.general-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: clamp(100%, 100%, 1000px);
  text-align: left;
}

.general-table td, .general-table th {
  border: 1px solid #333;
  padding: 8px;
}

.general-table tr {
  color: #333;
  text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
}

.pinout-table tbody tr {
  cursor: pointer;
}

.general-table tr:nth-child(even){
  background-color: #fc935a;
}

.pinout-table tr:hover {
  background-color: #f15a24;
}

.general-table th {
  background-image: linear-gradient(rgb(255 255 255 / 20%),transparent);
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f15a24;
  color: #333;
  text-shadow: 0 1px 0 rgba(255 255 255 / 50%);
}

.info-table {
  display: none;
}

.name-wrapper {
  flex-wrap: wrap;
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
}

.connector-name {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 24px;
  flex: 2 1 auto;
}

.toggle-label,
.switch-block {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
}

.toggle-label {
  padding-left: 10px;
  padding-right: 15px;
  display: none;
}

.switch-block {
  min-width: fit-content;
  display: none;
  flex: 1 1 0;
}

.switch {
  position: relative;
  display: block;
}

.switch > table {
  box-shadow: inset 0 2px 6px rgb(0 0 0 / 30%), 0 1px 0 rgb(255 255 255 / 20%);
  border-radius: 3px;
  position: relative;
  padding: 0;
  text-align: left;
  white-space: nowrap;
  width: 100%;
  height: 2em;
}

.switch td {
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2;
  width: 50%;
  user-select: none;
  transition: background-color 200ms ease-in-out;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  min-width: fit-content;
}

.switch input:not(:checked) ~ table td:first-child,
.switch input:checked ~ table td:nth-child(2) {
  color: #333;
  text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), inset 0 1px 1px rgb(255 255 255 / 45%);
  background-color: #f15a24;
  background-image: linear-gradient(rgb(255 255 255 / 20%), rgb(0 0 0 / 0%));
}

.switch input {
  position: absolute;
  opacity: 0;
  z-index: 3;
}

@media (width >= 1000px) {
  .general-table {
    font-size: 1rem;
  }

  .table-wrapper, .info-table, .name-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
  }
}

@media (width <= 1000px) {
  .general-table {
    word-wrap: break-word;
    font-size: 2.5rem;
  }

  #board-link, h2, .connector-name {
    font-size: 3rem;
  }

  .toggle-label, .switch-block {
    font-size: 2.5rem;
  }

  .switch > table {
    width: 100%;
  }
}

@media screen {
  td[data-field="pin"] {
    border-color: #333 !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #eee;
  }

  .general-table tbody tr {
    color: #aaa;
  }

  .general-table td, .general-table th {
    border: 1px solid #aaa;
  }

  .general-table tr:nth-child(even){
    background-color: #230c00;
  }

  .general-table tbody tr:hover {
    background-color: #f15a24;
    color: #333;
  }

  .switch > table {
    background-color: #2d3035;
  }

  .switch table td,
  .switch input:checked ~ table td:first-child {
    color: #eee;
    text-shadow: 1px 1px 1px #191b1e;
  }


  td[data-field="pin"] {
    border: 1px solid #aaa !important;
  }

  #board-link, #board-link:visited {
    color: #eee;
  }
}

@media print {
  .container {
    height: 99vh;
    display: flex;
    flex-direction: column;
  }

  .switch-block,
  .toggle-label {
    display: none !important;;
  }

  .connector-container {
    flex: 0 1 100%;
    height: unset;
    min-height: 2in;
  }

  .connector-div {
    max-width: 100%;
    height: unset;
  }

  .connector-img {
    max-width: 100% !important;
    max-height: 3in;
  }

  h2 {
    font-size: 14px;
  }

  th {
    font-size: 12px;
  }

  td {
    font-size: 10px;
  }

  td:not(.print-column), .info-table, thead, #board-link {
    display: none;
  }

  td[data-field="pin"] {
    border-width: 3px;
    border-radius: 10px;
    width: 10px;
    margin: 0;
    padding: 0;
  }

  td:not([data-field="pin"]) {
    border: none !important;
  }

  html, tr {
    background-color: #eee !important;
    color: #111 !important;
  }

  .general-table {
    width: auto;
    border-collapse: separate;
  }

  .table-wrapper { 
    column-count: 4;
  }

  .general-table, tbody, tr {
    display: block;
  }
}
